* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 1250px;
  margin: auto;
}
header {
  width: 100%;
  background-color: #b2b2b2;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-main .header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-left img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.header-center {
  position: relative;
  margin-top: 10px;
}
.header-center input {
  padding: 10px;
  background-color: #c5c5c5;
  border: none;
  width: 300px;
  border-radius: 20px;
  outline: none;
}
.header-center input::placeholder {
  color: #fff;
}
.center-icon {
  position: absolute;
  right: 10px;
  top: 8px;
  color: #fff;
}
.header-nav li:first-child {
  position: relative;
}
.hover-product {
  position: absolute;
  top: 200%;
  z-index: 999;
  left: 0;
  background-color: #fff;
  width: 1170px;
  height: 0;
  border-radius: 20px;
  color: #000;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease-in;
}

.header-nav li:first-child:hover .hover-product {
  opacity: 1;
  visibility: visible;
  height: 350px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
.header-nav li {
  list-style: none;
}
.header-nav li {
  cursor: pointer;
}
.header-nav li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
.header-nav li a:hover {
  color: #55d5d2;
}
.hover-product li {
  list-style: none;
}
.product-hover-cate {
  background-color: #4cd0bd;
  width: 33%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.product-hover-cate ul li {
  color: #666;
  padding: 25px;
  border-bottom: 1px solid #eee;
}
.product-hover-cate ul li:hover {
  color: #fff;
}

.product-hover-text {
  display: flex;
  gap: 20px;
  opacity: 0;
  transition: 0.5s ease-in;
  padding: 0 20px;
}
.product-hover-cate:hover + .product-hover-text {
  opacity: 1;
}
.product-hover-text h3 {
  color: #000;
}
.product-hover-img img {
  width: 350px;
  height: auto;
  object-fit: cover;
  padding: 10px;
}
.hover-text-left {
  margin-right: 50px;
}
.hover-text-left h3 {
  margin-bottom: 10px;
  margin-right: 20px;
}
.hover-text-left ul li {
  color: #454545;
  margin-bottom: 10px;
}
.hover-text-left ul li:hover {
  color: #fb923c;
  cursor: pointer;
}
.hover-text-right h3 {
  margin-bottom: 10px;
}
.hover-text-right ul li {
  color: #454545;
  margin-bottom: 10px;
}
.hover-text-right ul li:hover {
  color: #fb923c;
  cursor: pointer;
}
/* banner-cart */
.banner-cart {
  position: relative;
}
.banner-img img {
  width: 100%;
  height: auto;
}
.banner-text {
  position: absolute;
  bottom: 20%;
  left: 20%;
}
.banner-text h2 {
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 4px;
  font-size: 30px;
}
.banner-text ul {
  display: flex;
}
.banner-text ul li:first-child {
  list-style: none;
  margin-right: 10px;
}
.banner-text ul li {
  color: #fff;
  margin-left: 15px;
}
/* css product-title */
.product-title span {
  color: #454545;
  font-size: 20px;
  display: block;
  font-weight: bold;
  margin: 20px 0;
}
/* css component */
.cart-block {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.cart-component-l {
  width: 80%;
}
.cart-component-r {
  width: 20%;
}
.list-cart-t {
  /* display: grid;
  grid-template-columns: repeat(6, 1fr); */
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  color: #454545;
  font-weight: bold;
}
.cart-checkbox input {
  border: 1px solid #000;
  width: 20px;
  height: 20px;
}
.list-cart-b {
  /* display: grid;
  grid-template-columns: repeat(6, 1fr); */
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.cart-image {
  display: flex;
  gap: 5px;
}
.cart-image img {
  width: 115px;
  height: 115px;
  object-fit: cover;
  border-radius: 8px;
}
.cart-blogtext a {
  text-decoration: none;
  color: #454545;
  font-weight: bold;
}
.cart-blogtext p {
  color: #454545;
  margin-top: 5px;
  font-weight: bold;
}
.cart-price span {
  color: #454545;
  font-weight: bold;
}
.cart-click {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  width: 80px;
  height: 50px;
  padding: 10px;
  gap: 5px;
  border-radius: 10px;
}
.input input {
  width: 30px;
  border: none;
  height: 30px;
  margin-left: 5px;
}
.cart-amount {
  color: #454545;
  font-weight: bold;
}
.cart-total {
  color: #454545;
  font-weight: bold;
}
.cart-component-r {
  background-color: #f3f3f3;
  padding: 10px;
}
.cart-component-r > p {
  text-align: center;
  padding: 5px;
  color: #454545;
  font-weight: bold;
  border-bottom: 2px dotted #000;
}
.price-start {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #454545;
  font-weight: bold;
  border-bottom: 2px dotted #000;
}
.total-end {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #454545;
  font-weight: bold;
}
.cart-component-r button {
  margin-left: 20%;
  margin-top: 10px;
  background-color: #55d5d2;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.cart-block-end {
  display: flex;
  justify-content: space-between;
}
.cart-delete-conti {
  margin-top: 20px;
}
.cart-delete-conti button {
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.cart-delete-conti button:first-child {
  background-color: #d9d9d9;
  color: #454545;
  font-weight: bold;
}
.cart-delete-conti button:last-child {
  background-color: #55d5d2;
  color: #fff;
  font-weight: bold;
}
.cart-pay {
  margin-top: 20px;
}
.cart-pay-img img {
  width: 50px;
  height: auto;
  object-fit: cover;
}
/* css 
footer */
.footer {
  background-color: #55d5d2;
  margin-top: 30px;
}
.footer-block {
  display: flex;
  justify-content: space-between;
}
.footer-left {
  margin-top: 30px;
}
.footer-left p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}
.footer-input {
  position: relative;
}
.footer-input input {
  background-color: #caf2f1;
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  outline: none;
}
.footer-input input::placeholder {
  color: #55d5d2;
  font-weight: bold;
}
.footer-input span i {
  position: absolute;
  top: 40%;
  right: 20px;
  color: #fb923c;
  cursor: pointer;
  rotate: -30deg;
}
.footer-icon {
  margin: 10px;
}
.footer-icon i {
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
}
.footer-right-blogs {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}
.footer-right-blogs h4 {
  color: #caf1f0;
}
.footer-right-blogs li {
  list-style: none;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer-right-policy {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer-right-policy h4 {
  color: #caf1f0;
}
.footer-right-policy li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}
.footer-ply-lg h4 {
  margin-bottom: 10px;
}
.footer-brand {
  margin-top: 20px;
}
.footer-brand p {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
}
